<div class="instructors-block" *ngIf="allInstructors$ | async as allInstructors">
    <div class="clients-block__header">

        <span class="instructors-block__text">{{i18nRU.INSTRUCTORS}}</span>

        <app-button
            [text]="i18nRU.ADD_NEW1"
            [mode]="'icon'"
            (click) = "addNewInstructor()"
        ></app-button>

        <app-paginator
            #paginator
            [itemsOnPage]="26"
            [allItems]="allInstructors"
            (onChangePage)="onChangedPage($event)">            
        </app-paginator>

    </div>   

    <div class="instructors-block__list">
        <app-person-card 
        class="instructors-block__instructor"
            *ngFor="let instructor of showedInstructors;" 
            [data]="getCardData(instructor)"
            (onDelete)="onDeleteInstructor(instructor)" 
            (onEdit)="onEditInstructor(instructor)"
            (onShow)="onShowInstructor(instructor)"></app-person-card>
    </div>
</div>