<div class="instructors-block" *ngIf="allInstructors$ | async as allInstructors">
    <div class="clients-block__header">

        <span class="instructors-block__text">{{INSTRUCTORS}}</span>

        <app-button
            [text]="ADD"
            [mode]="'icon'"
            (click) = "addNewInstructor()"
        ></app-button>

        <app-paginator
            #paginator
            [itemsOnPage]="26"
            [allItems]="allInstructors"
            (onChangePage)="onChangedPage($event)">            
        </app-paginator>

    </div>   

    <div class="instructors-block__list">
        <app-instructor-card
            class="instructors-block__instructor"
            *ngFor="let instructor of showedInstructors;"
            [instructor]="instructor"
            (onDeleteInstructor)="onDeleteInstructor($event)"
            (onEditInstuctor)="onEditInstructor($event)"
        ></app-instructor-card>
    </div>
</div>