<div class="paginators" *ngIf="pagesCount>1">

    <div class="paginator" *ngIf="pagesCount === 2">        
        <span 
        (click)="setPage(currentPage - 1)" 
        *ngIf="currentPage === pagesCount"
        class="paginator__page">
            {{currentPage - 1}}
        </span>

        <span 
        (click)="setPage(currentPage)" 
        class="paginator__page paginator__active-page">
            {{currentPage}}
        </span> 

        <span 
        (click)="setPage(currentPage + 1)" 
        *ngIf="currentPage !== pagesCount" 
        class="paginator__active-page"
        class="paginator__page">
            {{currentPage + 1}}
        </span>  

        <img src="../../../assets/images/next-page-icon.svg" (click)="setPage(currentPage+1)">      
    </div>

    <div class="paginator" *ngIf="pagesCount > 2">
        <span 
        (click)="setPage(currentPage - 2)" 
        *ngIf="currentPage === pagesCount"
        class="paginator__page">{{currentPage - 2}} </span>

        <span 
        (click)="setPage(currentPage - 1)" 
        *ngIf="currentPage > 1"
        class="paginator__page">{{currentPage - 1}} </span>

        <span 
        (click)="setPage(currentPage)" 
        class="paginator__page paginator__active-page">{{currentPage}} </span>

        <span 
        (click)="setPage(currentPage + 1)" 
        *ngIf="currentPage<pagesCount"
        class="paginator__page">{{currentPage + 1}} </span>

        <span 
        (click)="setPage(currentPage + 2)" 
        *ngIf="currentPage<pagesCount && currentPage === 1"
        class="paginator__page">{{currentPage + 2}} </span>

        <img src="../../../assets/images/next-page-icon.svg" (click)="setPage(currentPage + 1)">
    </div>
</div>