.paginators {
    width: fit-content;
    float: right;
}

.paginator {
    display: flex;
    font-family: 'Roboto';
    color: #B9B9B9;

    &__page {
        margin-right: 5px;
    }

    &__page:hover{
        cursor: pointer;
    }

    &__active-page {
        color: #4158F6;
    }
}