
<app-title-modal-form [title] = "TITLE" (closeEvent)="handlerClose($event)"></app-title-modal-form>
<div class = "info" *ngIf="user$ | async as user" novalidate>
    
    <app-photo-form 
        [img] = "user.photo" 
        (imgLink)="handlerEvent($event)">
    </app-photo-form>
    
    <h2 class="info__name">
        {{user.name + " " + user.surname}} 
    </h2>
    <small class="info__post">
        {{POST}}
    </small> 
    
    <div class = "info__button">
        <app-button  mat-dialog-close [text]="OK"></app-button>
    </div>
</div>
