<div class="instructor-info">
    <div class="instructor-info__header">
        <span class="instructor-info__title">{{TITLE}}</span>
        <div class="instructor-info__icons">
            <img src="assets/images/edit-icon.svg" [mat-dialog-close]="true" class="instructor-info__edit" >
            <img src="assets/images/delete-icon.svg" [mat-dialog-close]="false" class="instructor-info__delete" >
        </div>
    </div>

    <div class = "avatar-block">
        <img class = "avatar-block__avatar" src="{{instructor.photo}}">      
    </div>

    <span class="instructor-info__fio">{{instructor.fio}}</span>
    <span class="instructor-info__sport">{{instructor.category}}</span>

    <div class="instructor-info__all-info">
        <span class="instructor-info__label">{{BIRTHDAY}}</span>
        <span class="instructor-info__value">{{instructor.birthday | date:'dd.MM.yyyy' }}</span>

        <span class="instructor-info__label">{{SEX}}</span>
        <span class="instructor-info__value">{{instructor.sex}}</span>

        <span class="instructor-info__label">{{APPOINTED_VISITOR}}</span>
        <span class="instructor-info__value">{{instructor.visiter}}</span>
    </div>    

    <app-button [text]="OK" class="btn" mat-dialog-close>        
    </app-button>
</div>