<div class="title">
    <p class="title__textTitle">{{i18nRU.FORM_TITLE_SKIPASS}}</p>
    <mat-icon mat-dialog-close class="title__iconClose">close</mat-icon>
</div>
<div class="form">
    <!-- [style]="{background : getPhoto(data.photo)}" -->
    <div class="form__conteiner" [style]="{    background : 'no-repeat #F3F3F3  center url('+data.photo+')' } " ></div>
    <div class="form__field" >
        <div class="form__field__cardNumber">{{data.cardNumber}}</div>
    </div>
    <div class="form__field" >
        <div class="form__field__question">{{i18nRU.DELETE_TEXT}}</div>
    </div>
</div>
<!-- Кнопка подтверждения -->
<div class="form__button">
    <app-button [mat-dialog-close]="true" [text]="i18nRU.OK"></app-button>
</div>