
<app-title-modal-form [title] = "i18nRU.TITLE_ADMIN" (closeEvent)="handlerClose($event)"></app-title-modal-form>
<div class = "info" *ngIf="user$ | async as user" novalidate>
    
    <div class = "info__avatar">
        <div class = "info__avatar__div">
            <app-photo-form class = "info__avatar__div__img" [select]="false" [img]="user.photo">
            </app-photo-form>
        </div>
        <mat-icon class = "info__avatar__icon" (click)="editProfile()">edit</mat-icon>
    </div>

    
    <h2 class="info__name">
        {{user.name + " " + user.surname}} 
    </h2>
    <small class="info__post">
        {{i18nRU.POST}}
    </small> 
    
    <div class = "info__button">
        <app-button  mat-dialog-close [text]="i18nRU.OK"></app-button>
    </div>
</div>
