
<app-title-modal-form [title] = "TITLE" (closeEvent)="handlerClose($event)"></app-title-modal-form>
<form class = "edit-clients" [formGroup]="editClientsForm" novalidate>
    <app-photo-form 
        [img] = "photoClients" 
        (imgLink)="handlerEvent($event)">
    </app-photo-form>


    <app-input 
        class = "edit-clients__input" 
        [title]="NAME"  
        [type]="TEXT_TYPE"
        formControlName="name">
    </app-input>
    <small 
        class = "edit-clients__error" 
        *ngIf = "clickEditButton && checkEmpty('name')">
            {{ERROR_EMPTY_NAME}}
    </small>

    <app-datepicker
        class="edit-clients__date"
        [dayPlaceholder] = "BIRTHDAY"
        formControlName = "birthday">
    </app-datepicker>
    <small 
        class = "edit-clients__error" 
        *ngIf = "clickEditButton && checkEmpty('birthday')">
            {{ERROR_EMPTY_BIRTHDAY}} 
    </small>

    
    <app-input 
        class = "edit-clients__input-number" 
        [title]="NUMBER"  
        [type]="NUMBER_TYPE"
        formControlName="numberSkiPasses">
    </app-input>
    <small 
        class = "edit-clients__error" 
        *ngIf = "clickEditButton && checkEmpty('numberSkiPasses')">
            {{ERROR_EMPTY_NUMBER}}
    </small>
    <small 
        class = "edit-clients__error" 
        *ngIf = "clickEditButton && !checkEmpty('numberSkiPasses') && checkLen('numberSkiPasses')">
            {{ERROR_SKI_PASS_LEN}}
    </small>

    <app-select
        class="edit-clients__select-instructor"
        formControlName="instructor"
        [placeholder]="INSTRUCTOR">        
    </app-select>
    

    <app-input 
        class = "edit-clients__input" 
        [title]="SPORT"  
        [type]="TEXT_TYPE"
        formControlName="sport">
    </app-input>
    <small 
        class = "edit-clients__error" 
        *ngIf = "clickEditButton && checkEmpty('sport')">
            {{ERROR_EMPTY_SPORT}}
    </small>
    
    <div class = "edit-clients__button">
        <app-button [text]="BUTTON_EDIT" (click)="editClients()" ></app-button>
    </div>
</form>
