<app-title-modal-form [title]="isCreate ? i18nRU.FORM_ADD_TITLE_VISITER :i18nRU.FORM_EDIT_TITLE_VISITER"
    (closeEvent)="handlerClose($event)"></app-title-modal-form>
<form class="edit-clients" [formGroup]="editClientsForm" novalidate>
    <app-photo-form [img]="photoClients" (imgLink)="handlerEvent($event)">
    </app-photo-form>

    <div class="form-field">
        <app-input class="edit-clients__input" [title]="i18nRU.FIO" [type]="attribute.TEXT_TYPE" formControlName="name">
        </app-input>
        <small class="edit-clients__error" *ngIf="clickEditButton && name?.errors?.['required']">
            {{i18nErrors.ERROR_EMPTY_NAME}}
        </small>
    </div>
    <div class="form-field">
        <app-datepicker class="edit-clients__date" [dayPlaceholder]="i18nRU.BIRTHDAY" formControlName="birthday">
        </app-datepicker>
        <small class="edit-clients__error" *ngIf="clickEditButton && birthday?.errors?.['required']">
            {{i18nErrors.ERROR_EMPTY_BIRTHDAY}}
        </small>
    </div>
    <!-- Номер скипаса -->
    <div class="form-field">
        <app-simple-select [placeholder]="i18nRU.NUMBER_SKIPASS" [data]="skipasses" formControlName="numberSkiPasses">
        </app-simple-select>
        <small class="edit-clients__error" *ngIf="clickEditButton && numberSkiPasses?.errors?.['required']">
            {{i18nErrors.ERROR_EMPTY_NUMBER}}
        </small>
    </div>
    <!-- Инструктор -->
    <div class="form-field">
        <app-simple-select [placeholder]="i18nRU.APPOINTED_INSTRUCTOR" [persanData]="(instructors | async) || []" [persanMod]="true" formControlName="instructor">
        </app-simple-select>
        <!-- <app-select class="edit-clients__select-instructor" formControlName="instructor"
            [placeholder]="i18nRU.APPOINTED_INSTRUCTOR">
        </app-select> -->
    </div>
    <div class="form-field">
        <app-input class="edit-clients__input" [title]="i18nRU.SPORT" [type]="attribute.TEXT_TYPE" formControlName="sport">
        </app-input>
        <small class="edit-clients__error" *ngIf="clickEditButton && sport?.errors?.['required']">
            {{i18nErrors.ERROR_EMPTY_SPORT}}
        </small>
    </div>
    <div class="edit-clients__button">
        <app-button *ngIf="!isCreate"  [text]="i18nRU.EDIT" (click)="editClients()">
        </app-button>
        <app-button *ngIf="isCreate"  [text]="i18nRU.ADD" (click)="editClients()">
        </app-button>
    </div>
</form>