<div class="client-info">
    <div class="client-info__header">
        <span class="client-info__title">{{TITLE}}</span>
        <div class="client-info__icons">
            <img src="../../../assets/images/edit-icon.svg" class="client-info__edit">
            <img src="../../../assets/images/delete-icon.svg" class="client-info__delete">
        </div>
    </div>

    <div class = "avatar-block">
        <img class = "avatar-block__avatar" src="{{visitor.photo}}">      
    </div>

    <span class="client-info__fio">{{visitor.fio}}</span>
    <span class="client-info__sport">{{visitor.sport}}</span>

    <div class="client-info__all-info">
        <span class="client-info__label">{{BIRTHDAY}}</span>
        <span class="client-info__value">{{visitor.birthday | date:'dd.MM.yyyy' }}</span>

        <span class="client-info__label">{{SKI_PASS_NUMBER}}</span>
        <span class="client-info__value">{{visitor.skiPass}}</span>

        <span class="client-info__label">{{APPOINTED_INSTRUCTOR}}</span>
        <span class="client-info__value">{{visitor.instructor}}</span>
    </div>

    

    <app-button [text]="OK" class="btn">        
    </app-button>
</div>