<app-title-modal-form [title]="isCreate ? i18nRU.FORM_ADD_TITLE_INSTRUCTOR : i18nRU.FORM_EDIT_TITLE_INSTRUCTOR"
    (closeEvent)="handlerClose($event)"></app-title-modal-form>
<form class="edit-instructor" [formGroup]="editInstructorForm" novalidate>
    <app-photo-form [img]="photoInstructor" (imgLink)="handlerEvent($event)">
    </app-photo-form>
    <!-- ФИО -->
    <div class="form-field">
        <app-input [title]="i18nRU.FIO" formControlName="name">
        </app-input>
        <small class="edit-instructor__error" *ngIf="clickCloseWindow &&  name?.errors?.['required']">
            {{i18nErrors.ERROR_EMPTY_NAME}}
        </small>
    </div>
    <!-- День рожденье -->
    <div class="form-field">
        <app-datepicker class="edit-instructor__date" [dayPlaceholder]="i18nRU.BIRTHDAY" formControlName="birthday">
        </app-datepicker>
        <small class="edit-instructor__error" *ngIf="clickCloseWindow && birthday?.errors?.['required']">
            {{i18nErrors.ERROR_EMPTY_BIRTHDAY}}
        </small>
    </div>
    <!-- Начало работы -->
    <div class="form-field">
        <app-datepicker class="edit-instructor__date" [dayPlaceholder]="i18nRU.START_WORK" formControlName="startWork">
        </app-datepicker>
        <small class="edit-instructor__error" *ngIf="clickCloseWindow && startWork?.errors?.['required']">
            {{i18nErrors.ERROR_EMPTY_START_WORK}}
        </small>
    </div>
    <!-- Пол -->
    <div class="form-field">
        <app-simple-select [placeholder]="i18nRU.SEX" [data]="gender" formControlName="sex">
        </app-simple-select>
        <small class="edit-instructor__error" *ngIf="clickCloseWindow && sex?.errors?.['required']">
            {{i18nErrors.ERROR_EMPTY_SEX}}
        </small>
    </div>
    <!-- Инструктор -->
    <app-select-visitor formControlName="client" class="edit-instructor__select"
        [placeholder]="i18nRU.APPOINTED_VISITOR">
    </app-select-visitor>
    <!-- Категория -->
    <div class="form-field">
        <app-input class="edit-instructor__input" [title]="i18nRU.CATEGORY" formControlName="category">
        </app-input>
        <small class="edit-instructor__error" *ngIf="clickCloseWindow && category?.errors?.['required']">
            {{i18nErrors.ERROR_EMPTY_CATEGORY}}
        </small>
    </div>
    <div class="edit-instructor__button">
        <app-button [text]="isCreate? i18nRU.ADD:i18nRU.EDIT" (click)="doneEditInstructor()"></app-button>
    </div>
</form>