<div class="block">
    <div class="block__header">
        <span class="block__text">{{SKIPASSES}}</span>
        <app-button [mode]="'icon'"  (click)="openForm()"[text]="ADD_NEW"></app-button>
        <!-- <app-paginator [itemsOnPage]="3" [allItems]="skipasses" (onChangePage)="onChangedPage($event)"></app-paginator> -->
    </div>
    
    <div>
        
        <app-ski-passes-card *ngFor="let item of skipasses$ | async" [skipass]="item" (deleteCard)="delete($event)"></app-ski-passes-card>
    </div>
</div>