<div class="block">
    <div class="block__header">
        <span class="block__text">{{i18nRU.SKIPASSES}}</span>
     
        <app-button [mode]="attribute.icon"  class="block__btnAdd" (click)="openCreateForm()"[text]="i18nRU.ADD_NEW"></app-button>
        <!-- <app-paginator [itemsOnPage]="3" [allItems]="skipasses" (onChangePage)="onChangedPage($event)"></app-paginator> -->
    </div>

    <div class="block__list">
        <app-ski-passes-card *ngFor="let item of (skipassesBe$ | async)" [skipass]="item" (editCard)="update($event)" (deleteCard)="delete($event)"></app-ski-passes-card>
    </div>
</div>