.block {
    display: flex;
    flex-direction: column;
    position: relative;

    &__list {
        display: flex;
        flex-wrap: wrap;
        //width: 95%;
        margin: 0 auto;
        margin-top: 30px;
    }

    &__client {
        width: 50%;
        margin-bottom: 15px;
    }

    &__btnAdd {
        position: absolute;
        top: -49px;
        left: 115px;
    }

}

.paginators {
    width: fit-content;
    float: right;
}

.paginator,
.paginator_first-page {
    display: flex;
    font-family: 'Roboto';
    color: #B9B9B9;

    &__active-page {
        color: #4158F6;
    }
}