.add-clients {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__input {
        width: 100%;
    }

    &__input-number {
        width: 100%;
    }

    &__date {
        width: 100%;
    }

    &__button {
        width: 169px;
        margin-bottom: 5%;
        margin-top: 2%;
    }

    &__select {
        width: 100%;
        margin-bottom: 3%;
    }

    &__error {
        color: red;
        padding-top: 0px;
        text-align: left;
        width: 80%;
    }
}
