.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
    margin-bottom: 20px;

    & .name {
        position: absolute;
        top: 40px;
        left: 40px;
        font-weight: 700;
        font-size: 14px;
        line-height: 15px;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    }

    & .cost {
        position: absolute;
        top: 60px;
        left: 40px;
        font-weight: 700;
        font-size: 24px;
        line-height: 90%;
        letter-spacing: -0.035em;
        color: #FFFFFF;
        text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    }

    & .menu {
        position: absolute;
        top: 20px;
        right: 20px;
        background: transparent;
        border: 0;
        color: white;
        cursor: pointer;
        text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    }
}
.mat-menu-item {
    padding: 0 25px;
}