<div class="name">{{PASS}} {{skipass.dateStart | date}}-{{skipass.dateEnd | date}}</div>
<div class="cost">{{skipass.cost}}</div>

<button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" yPosition="below">
    <button mat-menu-item>
        <span>{{ASSIGN_VISITOR}}</span>
    </button>
    <button mat-menu-item>
        <span>{{EDIT}}</span>
    </button>
    <button mat-menu-item (click)="delete()">
        <span>{{DELETE}}</span>
    </button>
</mat-menu>