<div class="clients-block" *ngIf="allVisitors$ | async as allVisitors">
    <div class="clients-block__header">

        <span class="clients-block__text">{{i18nRU.VISITERS}}</span>

        <app-button [text]="i18nRU.ADD_NEW1" [mode]="attr.icon" (click)="addNewClients()"></app-button>

        <app-paginator
            #paginator 
            [itemsOnPage]="26" 
            [allItems]="allVisitors" 
            (onChangePage)="onChangedPage($event)">
        </app-paginator>

    </div>

    <div class="clients-block__list">
        <app-person-card 
            class="clients-block__client" 
            *ngFor="let visitor of showedVisitors;" 
            [data]="getCardData(visitor)"
            (onDelete)="onDeleteVisitor(visitor)" 
            (onEdit)="onEditVisitor(visitor)"
            (onShow)="onShowVisitor(visitor)"></app-person-card>
    </div>
</div>