<div class="clients-block">
    <div class="clients-block__header">

        <span class="clients-block__text">{{CLIENTS}}</span>

        <app-button
        [text]="ADD"
        [mode]="'icon'"
        (click)="addNewClients()"
        ></app-button>

        <app-paginator
            [itemsOnPage]="26"
            [allItems]="allVisitors"
            (onChangePage)="onChangedPage($event)">            
        </app-paginator>

    </div>   

    <div class="clients-block__list">
        <app-person-card
        class="clients-block__client"
        *ngFor="let visitor of showedVisitors;"
        [person]="visitor"
        ></app-person-card>
    </div>
</div>