.background {
    background-image: url('../../../assets/images/login-background.svg');
    background-attachment: fixed;
    padding-top: 60px;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //box-sizing: border-box;
    //position: relative;
    //padding-bottom: 55px;
    //width: 100%;
    //-moz-box-sizing: border-box;
    //-moz-height: 100%
    //border: 1px solid black;
}

.login-block {
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px; 
    background: white;

    &__text-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        }

    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        line-height: 111.69%;
    }

    &__text_color_blue {
        color: #4158F6;
        font-size: 16px;
    }

    &__form {
        width: 72%;
    }
}

.logo {
    width: 16%;
    margin-top: 75px;
    margin-bottom: 15px;
    border: none;
}

.text-field {
    margin-bottom: 1rem;
    width: 100%;    
    
    &__label {
        display: block;
        margin-bottom: 0.25rem;
        opacity: 0.5;
    }

    &__input {
        box-sizing: border-box;
        display: block;
        width: 100%;

        height: calc(2.25rem + 2px);
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background: #F3F3F3;

        border: none;

        border-radius: 10px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &__input::placeholder {
        color: #212529;
        opacity: 0.4;
    }

    &__input:focus {
        color: #212529;
        background-color: #fff;
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

    &_floating {
        position: relative;
    }

    &__input {
        height: calc(3.0rem + 2px);
        padding: 1rem 0.75rem;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 1rem .75rem;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        transition: opacity .15s ease-in-out, transform .15s ease-in-out;
    }

    &__input::-moz-placeholder {
        color: transparent;
    }

    &__input::placeholder {
        color: transparent;
    }

    &__input:focus,
    &__input:not(:placeholder-shown) {
        padding-top: 1.625rem;
        padding-bottom: .625rem;
    }

    &__input:focus~.text-field__label,
    &__input:not(:placeholder-shown)~.text-field__label {
        opacity: .65;
        transform: scale(.85) translateY(-.75rem) translateX(.15rem);
    }
}

.btn-block {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.social-block {
    margin-top: 40px;    
    width: 169px;
    display: flex;
    justify-content: space-between;
}

.google, 
.facebook,
.vk {
    border-radius: 50%;
    border: 1px solid #DDDDDD;
    background-color: white;    
    height: 45px;
    width: 45px;
}

.registration-block {
    margin-top: 30px;
    margin-bottom: 60px;
}

.copyright-block {
    text-align: center;
}