<div class="background">

    <div class="login-block">
        <img [src]="srcAsset.logo" class="logo">

        <div class="login-block__text-block">
            <span class="login-block__text login-block__text_color_blue">
                {{i18nRU.PERSONAL_ACCOUNT_TEXT | uppercase}}
            </span>
            <span class="login-block__text">
                {{i18nRU.SKI_RESRORT_TEXT | uppercase}}
            </span>
        </div>

        <form action="" class="login-block__form" [formGroup]="form" (ngSubmit)="submit()">
            <div class="text-field text-field_floating">
                <input type="text" class="text-field__input" id="login_name" placeholder="{{i18nRU.NAME}}"
                    formControlName="name">
                <label for="login_name" class="text-field__label">{{i18nRU.NAME}}</label>
                <small *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
                    {{i18nErrors.ERROR_LOGIN }}
                </small>
            </div>

            <div class="text-field text-field_floating">
                <input type="password" class="text-field__input" id="login_password" placeholder="{{i18nRU.PASSWORD}}"
                    formControlName="password">
                <label for="login_password" class="text-field__label">{{i18nRU.PASSWORD}}</label>
                <small *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                    {{i18nErrors.ERROR_PASSWORD }}
                </small>
            </div>

            <div class="btn-block">
                <app-button class="btn" [disabled]="form.invalid" [mode]="attribute.noIcon" [text]=i18nRU.LOGIN>
                </app-button>
            </div>

        </form>

        <div class="social-block">
            <button *ngFor="let icon of icons" class="social-icon ">
                <img [src]="icon">
            </button>
        </div>

        <span class="registration-block">
            <a routerLink="/registration">{{i18nRU.REGISTRATION}}</a>
        </span>
    </div>

    <div class="copyright-block">
        {{i18nRU.COPYRIGHT_YEAR}}
    </div>
</div>