<div class="custom-select">
    <div class="custom-select__item" (click)="toggleVariants()">
        <input type="text" [(ngModel)]="value" [placeholder]="placeholder" class="custom-select__input"
            (input)="onChange(value)" (change)="onChange(value)" (ngModelChange)="modelChanged($event)">

        <button class="custom-select__show-variants">
            <img src="assets/images/arrow-down-filled.svg" alt="">
        </button>
    </div>

    <div class="custom-select__variants-wrapper">
        <div class="custom-select__variants" *ngIf="showVariants">
            <div *ngFor="let instructor of filteredOptions | async" class="custom-select__instructor">
                <app-person-card [data]="getCardData(instructor)" [showMenu]="false" (click)="selectItem(instructor)">
                </app-person-card>
            </div>
        </div>
    </div>
</div>