<div class="select-visitor">
    <div class="select-visitor__item">
        <input 
            type="text" 
            [(ngModel)]="value" 
            [placeholder]="placeholder"
            class="select-visitor__input" 
            (input)="onChange(value)"
            (change)="onChange(value)"
            disabled>

        <button (click)="toggleVariants()" class="select-visitor__show-variants">
            <img src="../../../assets/images/arrow-down-filled.svg" alt="">
        </button>
    </div>    

    <div class="select-visitor__variants-wrapper">
        <div class="select-visitor__variants" *ngIf="showVariants">
            <div *ngFor="let visitor of visitors" class="select-visitor__visitor" >
            
                <app-person-card
                    [person]="visitor"
                    [showMenu]="false"
                    (click)="selectItem(visitor)">
                </app-person-card>
            </div>        
        </div>
    </div>
    

</div>


