
<app-title-modal-form [title] = "TITLE" (closeEvent)="handlerClose($event)"></app-title-modal-form>
<form class = "add-clients" [formGroup]="addClientsForm" novalidate>
    <app-photo-form 
        [img] = "photoClients" 
        (imgLink)="handlerEvent($event)">
    </app-photo-form>


    <app-input 
        class = "add-clients__input" 
        [title]="NAME"  
        [type]="TEXT_TYPE"
        formControlName="name">
    </app-input>
    <small 
        class = "add-clients__error" 
        *ngIf = "clickAddButton && checkEmpty('name')">
            {{ERROR_EMPTY_NAME}}
    </small>

    <app-datepicker
        class="add-clients__date"
        [dayPlaceholder] = "BIRTHDAY"
        formControlName = "birthday">
    </app-datepicker>
    <small 
        class = "add-clients__error" 
        *ngIf = "clickAddButton && checkEmpty('birthday')">
            {{ERROR_EMPTY_BIRTHDAY}}
    </small>
    

    
    <app-input 
        class = "add-clients__input-number" 
        [title]="NUMBER"  
        [type]="NUMBER_TYPE"
        formControlName="numberSkiPasses">
    </app-input>
    <small 
        class = "add-clients__error" 
        *ngIf = "clickAddButton && checkEmpty('numberSkiPasses')">
            {{ERROR_EMPTY_NUMBER}}
    </small>
    <small 
        class = "add-clients__error" 
        *ngIf = "clickAddButton && !checkEmpty('numberSkiPasses') && checkLen('numberSkiPasses')">
            {{ERROR_SKI_PASS_LEN}}
    </small>
    
    
    <app-select
        formControlName="instructor"
        class="add-clients__select"
        [placeholder]="INSTRUCTOR">        
    </app-select>

    <app-input 
        class = "add-clients__input" 
        [title]="SPORT"  
        [type]="TEXT_TYPE"
        formControlName="category">
    </app-input>
    <small 
        class = "add-clients__error" 
        *ngIf = "clickAddButton && checkEmpty('category')">
            {{ERROR_EMPTY_SPORT}}
    </small>
    
    <div class = "add-clients__button">
        <app-button [text]="BUTTON_ADD"  (click)="doneAddClients()"></app-button>
    </div>
</form>
