
<app-title-modal-form [title] = "TITLE" (closeEvent)="handlerClose($event)"></app-title-modal-form>
<form class = "add-clients" [formGroup]="addClientsForm" novalidate>
    <app-photo-form 
        [img] = "photoClients" 
        (imgLink)="handlerEvent($event)">
    </app-photo-form>


    <app-input 
        class = "add-clients__input" 
        [title]="NAME"  
        [type]="TEXT_TYPE"
        formControlName="name">
    </app-input>
    <!-- <small 
        class = "add-clients__error" 
        *ngIf = "checkName()">
            {{ERROR_EMPTY_NAME}}
    </small> -->

    <app-datepicker
        class="add-clients__date"
        [dayPlaceholder] = "BIRTHDAY"
        formControlName = "birthday">
    </app-datepicker>

    
    <app-input 
        class = "add-clients__input-number" 
        [title]="NUMBER"  
        [type]="NUMBER_TYPE"
        formControlName="numberSkiPasses">
    </app-input>
    <!-- <small 
        class = "add-clients__error" 
        *ngIf = "addClientsForm.controls['name'].invalid && addClientsForm.controls['name'].hasError('touched')">
            {{ERROR_EMPTY_NUMBER}}
    </small> -->

    <app-input 
        class = "add-clients__input" 
        [title]="SPORT"  
        [type]="TEXT_TYPE"
        formControlName="category">
    </app-input>
    <!-- <small 
        class = "add-clients__error" 
        *ngIf = "addClientsForm.get('category')?.errors?.['required'] && addClientsForm.get('category')?.touched">
            {{ERROR_EMPTY_SPORT}}
    </small> -->
    
    <div class = "add-clients__button">
        <app-button  mat-dialog-close [text]="BUTTON_ADD" [disabled]="addClientsForm.invalid" (click)="doneAddClients()" ></app-button>
    </div>
</form>
