<div class="person-card">
    <div class="person-card__content" (click)="showVisitor()">
        <div class="person-card__avatar-block">
            <img src="{{person.photo}}" class="person-card__avatar">
        </div>
        
        <div class="person-card__info">        
            <div>
                <span class="person-card__text">{{person.fio}}</span>
            </div>
            <div>
                <span class="person-card__text person-card__text_opacity_50">{{person.birthday | age}}</span>   
            </div>  
        </div>  
    </div>    
    
    <button mat-icon-button [matMenuTriggerFor]="menu" class="person-card__menu-btn" *ngIf="showMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="editVisitor()">
        <span>{{APPOINT_COACH}}</span>
    </button>
    <button mat-menu-item (click)="editVisitor()">
        <span>{{EDIT}}</span>
    </button>
    <button mat-menu-item (click)="deleteVisitor()">
        <span>{{DELETE}}</span>
    </button>
    </mat-menu>

</div>
