.person-card {
    display: flex;
    flex-direction: row;
    //border: 1px solid black;
    font-size: 100%;
    font-family: 'Roboto';
    align-items: center;
    justify-content: space-between;

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__avatar-block {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin: 0 auto;
        overflow: hidden;
        margin-right: 15px;
    }

    &__avatar {
        width: auto;
        height: 100%;
        margin: 0 auto;
    }

    &__info {
        display: flex;
        flex-direction: column;     
        justify-content: center;   
        align-items: stretch;
        // padding-top: 15px;
        // padding-bottom: 15px;
        // border: 1px solid black;
    }

    &__text {
        //border: 1px solid black;
        font-size: 1.0em; 
        margin-top: 10px;
        margin-bottom: 10px;

        &_opacity_50 {
            opacity: 50%;
            font-size: 1.0em; 
        }
    }

    &__menu-btn {
        background-color: white;
        height: fit-content;
        border: none;
        color: rgb(185, 185, 185);
    }
}
