.instructors-mini-block {
    padding: 25px 50px 25px 50px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: white;

    &__header {
        display: flex;
        align-items: center;        
    }

    &__text{
        font-weight: 500;
        font-family: 'Roboto';
        font-size: 14px;
        margin-right: 30px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        //width: 95%;
        margin: 0 auto;
        margin-top: 30px;
    }

    &__client {
        width: 50%;
        margin-bottom: 15px;
    }

    &__minimize {
        margin-left: auto;
    }
    
    &__minimize:active {
        transform: rotate(180deg);
        transition: 0.5s;
    }

    &__all {
        font-family: 'Roboto';
        color: #4158F6;
        float: right;
    }

    &__all:hover {
        cursor: pointer;
    }
}