<div class="background">

    <div class="registration-block">
        <img src="../../../assets/images/logo.svg" class="logo">

        <div class="registration-block__text-block">
            <span class="registration-block__text registration-block__text_color_blue">
                {{PERSONAL_ACCOUNT_TEXT | uppercase}}
            </span>
            <span class="registration-block__text">
                {{SKI_RESRORT_TEXT | uppercase}}
            </span>
        </div>        
    
        <form action="" class="registration-block__form" [formGroup]="form" (ngSubmit)="submit()">        
            <div class="text-field text-field_floating">  
                <input type="text" 
                    class="text-field__input" 
                    id="registration_name" 
                    placeholder="{{NAME}}" 
                    formControlName="login">
                <label for="registration_name" class="text-field__label">{{NAME}}</label>
                <small *ngIf="form.controls['login'].invalid && form.controls['login'].touched">{{ ERROR_LOGIN }}</small>   
            </div>
    
            <div class="text-field text-field_floating">  
                <input type="password" 
                    class="text-field__input" 
                    id="registration_password" 
                    placeholder="{{PASSWORD}}"
                    formControlName="password">
                <label for="registration_password" class="text-field__label">{{PASSWORD}}</label>
                <small *ngIf="form.controls['password'].invalid && form.controls['password'].touched">{{ ERROR_PASSWORD }}</small>       
            </div>
    
            <div class="btn-block">
                <app-button class="btn"
                [text]=REGISTRATION
                [disabled]="form.invalid">
                </app-button>
            </div>
            
        </form>

        <div class="social-block">
            <button class="google">
                <img src="../../../assets/images/google-icon.svg">
            </button>
    
            <button class="facebook">
                <img src="../../../assets/images/facebook-icon.svg">
            </button>
    
            <button class="vk">
                <img src="../../../assets/images/vk-icon.svg">
            </button>
        </div>

        <span class="login-block" >
            <a routerLink="/autorization">{{LOGIN}}</a>
        </span>
    </div>

    <div class="copyright-block">
        {{COPYRIGHT}}
    </div>
</div>

