<div class="background">

    <div class="registration-block">
        <img [src]="srcAsset.logo" class="logo">

        <div class="registration-block__text-block">
            <span class="registration-block__text registration-block__text_color_blue">
                {{i18nRu.PERSONAL_ACCOUNT_TEXT | uppercase}}
            </span>
            <span class="registration-block__text">
                {{i18nRu.SKI_RESRORT_TEXT | uppercase}}
            </span>
        </div>        
    
        <form action="" class="registration-block__form" [formGroup]="form" (ngSubmit)="submit()">        
            <div class="text-field text-field_floating">  
                <input type="text" 
                    class="text-field__input" 
                    id="registration_name" 
                    placeholder="{{i18nRu.NAME}}" 
                    formControlName="login">
                <label for="registration_name" class="text-field__label">{{i18nRu.NAME}}</label>
                <small *ngIf="form.controls['login'].invalid && form.controls['login'].touched">{{ i18nErrors.ERROR_LOGIN }}</small>   
            </div>
    
            <div class="text-field text-field_floating">  
                <input type="password" 
                    class="text-field__input" 
                    id="registration_password" 
                    placeholder="{{i18nRu.PASSWORD}}"
                    formControlName="password">
                <label for="registration_password" class="text-field__label">{{i18nRu.PASSWORD}}</label>
                <small *ngIf="form.controls['password'].invalid && form.controls['password'].touched">{{ i18nErrors.ERROR_PASSWORD }}</small>       
            </div>
    
            <div class="btn-block">
                <app-button class="btn"
                    [text]=i18nRu.REGISTRATION
                    [disabled]="form.invalid">
                </app-button>
            </div>
        </form>

        <div class="social-block">
            <button *ngFor="let icon of icons" class="social-icon">
                <img [src]="icon">
            </button>
        </div>

        <span class="login-block" >
            <a routerLink="/autorization">{{i18nRu.LOGIN}}</a>
        </span>
    </div>

    <div class="copyright-block">
        {{i18nRu.COPYRIGHT}}
    </div>
</div>

