
<app-title-modal-form [title] = "TITLE" (closeEvent)="handlerClose($event)"></app-title-modal-form>
<form class = "add-instructor" [formGroup]="addInstructorForm" novalidate>
    <app-photo-form 
        [img] = "photoInstructor" 
        (imgLink)="handlerEvent($event)">
    </app-photo-form>


    <app-input 
        class = "add-instructor__input" 
        [title]="NAME"  
        formControlName="name">
    </app-input>
    <small 
        class = "add-instructor__error" 
        *ngIf = "clickCloseWindow && checkEmpty('name')">
            {{ERROR_EMPTY_NAME}}
    </small>

    <app-datepicker
        class="add-instructor__date"
        [dayPlaceholder] = "BIRTHDAY"
        formControlName = "birthday">
    </app-datepicker>
    <small 
        class = "add-instructor__error" 
        *ngIf = "clickCloseWindow && checkEmpty('birthday')">
            {{ERROR_EMPTY_BIRTHDAY}}
    </small>

    <app-datepicker
        class="add-instructor__date"
        [dayPlaceholder] = "START_WORK"
        formControlName = "startWork">
    </app-datepicker>
    <small 
        class = "add-instructor__error" 
        *ngIf = "clickCloseWindow && checkEmpty('startWork')">
            {{ERROR_EMPTY_START_WORK}}
    </small>
    
    <app-select-sex
        formControlName="sex"
        [title] = "SEX"
        class="add-instructor__select">
    </app-select-sex>
    <small 
        class = "add-instructor__error" 
        *ngIf = "clickCloseWindow && checkEmpty('sex')">
            {{ERROR_EMPTY_SEX}}
    </small>

    <app-select-visitor
        formControlName="client"
        class="add-instructor__select"
        [placeholder]="CLIENT">        
    </app-select-visitor>


    <app-input 
        class = "add-instructor__input" 
        [title]="CATEGORY"  
        formControlName="category">
    </app-input>
    <small 
        class = "add-instructor__error" 
        *ngIf = "clickCloseWindow && checkEmpty('category')">
            {{ERROR_EMPTY_CATEGORY}}
    </small>
    
    <div class = "add-instructor__button">
        <app-button  [text]="BUTTON_ADD" (click)="doneAddInstructor()" ></app-button>
    </div>
</form>

