<div class="title">
    <p class="title__textTitle">{{CARD_SKIPASS}}</p>
    <div>
        <mat-icon [mat-dialog-close]="true" (click)="openEditForm()" class="title__icon">edit</mat-icon>
        <mat-icon [mat-dialog-close]="false" (click)="openDeleteForm()" class="title__icon">delete</mat-icon>
    </div>
</div>
<div class="form">
    <!-- [style]="{background : getPhoto(data.photo)}" -->
    <div class="form__conteiner">
        <img class="form__conteiner__img" [src]="data.photo" type="image">
    </div>
    <div class="form__field">
        <div class="form__field__cardNumber">{{data.cardNumber}}</div>
    </div>
    <div class="form__field__common">
        <label class="form__field__common__label">{{ACTION_TIME | uppercase}}</label>
        <div class="form__field__common__data">{{data.dateStart | date : 'dd.MM.yyyy'}} -
            {{data.dateEnd|date:'dd.MM.yyyy'}}</div>
    </div>
    <div class="form__field__common">
        <label class="form__field__common__label">{{COST | uppercase}}</label>
        <div class="form__field__common__data">{{data.cost | currency : 'RUR':undefined:'1.0-0'}}</div>
    </div>
    <div class="form__field__common">
        <label class="form__field__common__label">{{ASSIGNE_VISITER | uppercase}}</label>
        <div class="form__field__common__data">{{data.visiter}}</div>
    </div>


</div>
<!-- Кнопка подтверждения -->
<div class="form__button">
    <app-button [mat-dialog-close] [text]="OK"></app-button>
</div>