::ng-deep .mat-dialog-container {
    border-radius: 12px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

    ::ng-deep {
        .mat-form-field-flex {
            border-radius: 10px;
            padding-top: 0;
        }
    }

    &__conteiner {
        display: flex;
        width: 80%;
        height: 159px;
        background-color: #F3F3F3;
        text-align: center;
        vertical-align: middle;
        outline: none;
        border-radius: 10px;
    }

    &__field {
        width: 80%;
        text-align: center;

        &__cardNumber {
            font-weight: 500;
            font-size: 36px;
            line-height: 50px;
            color: #212121;
            margin: 28px 0 40px 0;
        }
    }

    &__field__common {
        margin: 20px 0;
        width: 80%;
        text-align: center;
        &__label {
            color: rgba(160, 160, 160, 0.541327);

            font-size: 12px;
            line-height: 24px;
        }

        &__data {
            font-weight: 500;
            font-size: 20px;
            line-height: 23.5px;
        }
    }
}

.form__button {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    & app-button {
        width: 160px;
        cursor: pointer;
    }
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    &__icon{
        color: #C8C8C8;
        cursor: pointer;
    }
    &__icon:hover{
        color: #212121;
    }
    &__icon+&__icon{
        margin-left: 20px;
    }
    &__textTitle {
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        color: #212121;
    }

    &__iconClose {
        cursor: pointer;
        color: black;
        text-align: right;
        line-height: 17px;
        font-size: 15px;
        font-weight: 1000;
        margin-left: 40%;
    }
}