<div class="client-info">
    <div class="client-info__header">
        <span class="client-info__title">{{i18nRU.TITLE_VISITER}}</span>
        <div class="client-info__icons">
            <mat-icon [mat-dialog-close]="true" class="client-info__edit">edit</mat-icon>
            <mat-icon [mat-dialog-close]="false" class="client-info__delete">delete</mat-icon>
        </div>
    </div>
    <!-- Фото пользователя -->
    <div class="avatar-block">
        <app-photo-form [select]="false" [img]="visitor.photo"></app-photo-form>
    </div>

    <span class="client-info__fio">{{visitor.fio}}</span>
    <span class="client-info__sport">{{visitor.sport}}</span>
    <div class="client-info__all-info">
        <span class="client-info__label">{{i18nRU.BIRTHDAY}}</span>
        <span class="client-info__value">{{visitor.birthday | date:'dd.MM.yyyy' }}</span>

        <span class="client-info__label">{{i18nRU.NUMBER_SKIPASS}}</span>
        <span class="client-info__value">{{visitor.skiPass}}</span>

        <span class="client-info__label">{{i18nRU.APPOINTED_INSTRUCTOR}}</span>
        <span class="client-info__value">{{visitor.instructor}}</span>
    </div>

    <app-button [text]="i18nRU.OK" class="btn" mat-dialog-close>
    </app-button>
</div>