:host{
    width: 100%;
    display: flex;
    justify-content: center;
}
.option{
    font-size: 14px;
}
.select-warper {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    background: #F3F3F3;
    border-radius: 10px;
    height: calc(3rem + 2px);
    margin-bottom: 3%;

    & .toggle-arrow {
        border: none;
        background: transparent;
        position: absolute;
        top: 16px;
        right: 10px;
    }

    & .select {
        width: 100%;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #868686;
        
        background: transparent;
        padding: 0 11px;
        border: none;
        outline: none;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::placeholder {
            color: #212529;
            opacity: 0.4;
            font-size: 12px;
        }
    }

    &:focus {
        color: #212529;
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }
}

::ng-deep .mat-autocomplete-panel {
    border-radius: 10px;
}