<div class="main-page">
    <app-header></app-header>

    <body>
        <div class="font">

            <div class="mini-apps">
                <app-clients-mini ></app-clients-mini>
                
                

                <app-instructors-mini class="mini-apps_margin-top_20px"></app-instructors-mini>
                
                <app-container-mini title="SKIPASSES">
                    <app-ski-passes  content></app-ski-passes>
                    <!-- <app-ski-pass-mimi content></app-ski-pass-mimi> -->
                </app-container-mini>

            </div>
        </div>
    </body>
</div>