.mini-apps {
    display: flex;
    z-index: 10;
    flex-direction: column;
    width: 70%;
    position: relative;
    //margin-right: 5%;
    left: 340px;
    top: 105px;

    &_margin-top_20px{
        margin-top: 20px;
    }    
}
